@import url('https://bjshare.vercel.app/style.css');
:root {
    --bgimage-body:url('https://bjshare.vercel.app/img/onepiece.jpg');
}
body {
    background: var(--bgimage-body) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }